a {
    text-decoration: double;
}

div {
    width: 150px;
    height: 150px;
    background-color: blue;
}

.titulo {
    font-size: 10;
    color: blue;
    text-align: center;
}

#titulo-unico{
    color: brown;
}

.paragrafo > b {
    background-color: blueviolet;        
}

.paragrafo, .titulo {
    background-color: chartreuse;
}